@model TablaPeriodica.Models.Elemento[]
@{
    Layout = null;
    bool find = false;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tabla Periodica</title>
    <link href="~/css/tablaPeriodica.css" rel="stylesheet" />
</head>
<body>
    <H1 style="font-size:50px; text-align:center; color:#E9BD52; text-decoration:underline">
        Tabla Periodica de los Elementos Quimicos
    </H1>
    <br />
    <div class="grid-container">
        @for (int i = 0; i < 90; i++)
        {
            find = false;

            if (i == 1)
            {
                <di class="space-blank1">
                </di>
            }
            else if (i == 4 || i == 12)
            {
                <div class="space-blank2">

                </div>
            }

            for (int index = 0; index < Model.Length; index++)
            {
                if (i == (Model[index].Orden - 1))
                {
                    <div class="item @Model[index].Category" id="element @Model[index].Id">
                        <p class="item-number">@Model[index].Id  || <span class="itemDelete" onclick="deleteElement('@Model[index].Id')">X</span></p>
                        <h4 class="item-title">@Model[index].Initials</h4>
                        <p class="item-name">@Model[index].Name</p>
                    </div>
                    find = true;
                }
            }

            if (!find)
            {
                <div class="item" style="background-color:gray;"></div>

            }
        }
    </div>
    <br /> <br />
           <div class="grid-container">
               @for (int i = 90; i < 120; i++)
               {
                   find = false;

                   if (i == 90)
                   {
                       <div class="space-blank-second-grid"></div>
                   }

                   for (int index = 0; index < Model.Length; index++)
                   {
                       if (i == (Model[index].Orden - 1))
                       {
                           <div class="item @Model[index].Category" id="element @Model[index].Id">
                               <p class="item-number">@Model[index].Id  || <span class="itemDelete" onclick="deleteElement('@Model[index].Id')">X</span></p>
                               <h4 class="item-title">@Model[index].Initials</h4>
                               <p class="item-name">@Model[index].Name</p>
                           </div>
                           find = true;
                       }
                   }

                   if (!find)
                   {
                       <div class="item" style="background-color:gray;"></div>
                   }
               }
           </div>

    <br /> <br />
    <div class="leyenda-grid">
        <div class="leyenda-item leyenda-item-header1 color-header-leyendas">
            <span>Metales</span>
        </div>
        <div class="leyenda-item leyenda-item-header2 Metaloides">
            <span>Metaloides</span>
        </div>
        <div class="leyenda-item leyenda-item-header3 color-header-leyendas">
            <span>No Metales</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 Alcalinos">
            <span>Alcalinos</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 Alcalinoterreos">
            <span>Alcalinoterreos</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 BloqueD" style="line-height:25px;">
            <span>Metales de Transicion / Bloque D</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2" style="overflow: hidden; line-height: 30px;">
            <div style="border-bottom: 1px solid black;" class="Lantanidos">
                <span>Lantanidos</span>
            </div>
            <div class="Actinidos">
                <span>Actinodos</span>
            </div>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 OtrosMetales">
            <span>Otros Metales</span>
        </div>

        <div class="leyenda-item leyenda-item-column-span-2 OtrosNoMetales">
            <span>Otros No Metales</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 Halogenos">
            <span>Halogenos</span>
        </div>
        <div class="leyenda-item leyenda-item-column-span-2 GasesNobles">
            <span>Gases Nobles</span>
        </div>
    </div>
    <script>
        function deleteElement(Id) {
            debugger;
            const element = document.getElementById('element ' + Id);
            const length = element.children.length
            for (let i = 0; i < length; i++) {
                let item = element.children[i];
                if (i === (length - 1)) {
                    element.children[0].remove();
                } else {
                    item.remove();
                }

            }
            element.style.backgroundColor = "gray";
        }

    </script>
</body>
</html>
